/* ----------------------------------------------- */
/* UI COMPONENTS */
/* ----------------------------------------------- */

/* BUTTONS */
.button {
    /* SET THE BUTTON COLORS */
    clip-path: polygon(0 0, 93% 0, 100% 83%, 5% 100%);
    border: 1px solid var(--color-black);
    border-radius: 2px;
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--font-serif);

    /* ENABLE BOX MODEL STYLING */
    display: inline-block;
    padding: var(--unit-medium);
    margin: var(--unit-small) 0;

    /* GET RID OF THE UNDERLINE */
    text-decoration: none;

    +.button {
        margin-left: var(--unit-small);
    }

    &:hover {
        color: var(--color-black);
        background-color: var(--color-primary);
        border-color: var(--color-black);

    }

    /* LIGHT BUTTON VARIANT */
    &.light {
        border-color: var(--color-a-light);
        background-color: var(--color-a-light);
        color: var(--color-a-darker);

        &:hover {
            border-color: var(--color-a-lighter);
            background-color: var(--color-a-lighter);
        }
    }

}

/* SIMPLE CARDS */
.centered-card-group {

    display: flex;
    justify-content: center;
    gap: var(--unit-small);

    .centered-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: var(--unit-small);
    }

}
